
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>

<form action="savedata">

    <label>Name</label>
    <div>
        <input type="text" name="name" class="form-control" />
    </div>
    <label>
        address

    </label>
    <div>
        <input type="text" name="address" class="form-control" />
    </div>

    <label>
        contact

    </label>
    <div>
        <input type="text" name="contact" class="form-control" />
    </div>
    <div>
       <br /> <input type="submit"  class="btn btn-info" value="add" />

    </div>
</form>


